[user]
	name = Graham Clifford
	email = gjcliff@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
